.headerContainer {
    padding: 0;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    zoom: 1.25;
}

.headerContainer .NotifHide {
    display: none !important;
}

.headerContainer .NotifShow {
    display: inline-flex !important;
}

.headerContainer .navbar input {
    background-color: white !important;
    background: transparent url("../../public/images/header/Search.png") no-repeat 5px center;
}

.headerContainer ul {
    display: grid;
    grid-template-columns: 30% 24.3% 24.3% 24.3%;
}

.headerContainer li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContainer li:hover {
    cursor: pointer !important;
}

.headerContainer #NotificationDIV {
    z-index: 1;
    position: absolute;
    top: 66px;
    background-color: white;
    border: 2px solid rgba(240, 100, 73);
    font-size: 13px;
    width: 50%;
    left: 25%;
    padding: 12px 9px 0px 10px;
    box-shadow: -10px 1px 30px black;
    color: black;
    font-family: Arial;
    text-align: top;
    align-items: top;
}

.headerContainer .DescContainer {
    white-space: pre-wrap;
    margin-left: 0%;
    margin-bottom: 3px;
}

.headerContainer .PointersContainer {
    margin-left: 0%;
    margin-bottom: 10;
}

.headerContainer .NotifBellImage {
    display: inline-flex;
    max-height: 25px;
    min-width: 21px;
    padding: 5px;
    background: #36382E;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}

.headerContainer .btn-close {
    padding-right: 10px;
    padding-top: 4px;
    float: right;
}

.headerContainer .NotifShowMore{
    cursor: pointer;
}

.headerContainer .NotificationTitle{
    font-size: 15px; 
    color: rgb(40,116,149); 
    display: inline-flex; 
    align-items: center; 
    font-weight: bold;
}

.headerContainer .container-fluid{
    padding-left: 0px;
}

.headerContainer .headerLink1:hover{
    background-color: #a2422f;
}

.headerContainer .headerLink2:hover{
    background-color: #37392e;
    opacity: 0.8;
}

.headerContainer .headerLink1{
    background: #F06449; 
    border-bottom-left-radius: 14px;
    padding-left: 16px;
    padding-right: 20px;
    margin-right: 3px;
}

.headerContainer .headerLink2{
    background-color: #45473A; 
    margin: 4px 3px; 
    padding: 0px;
}

.headerContainer .headerLink2 .navlink2{
    padding: 0px !important; 
    margin: 0px; 
    min-width: 50px;
    min-height: 50px; 
    border: 2px solid white; 
    border-radius: 27.5px; 
    text-align: center; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}    

.headerContainer .headerLink2 .navlink3{
    padding: 0px !important;
    margin: 0px 13px;
    min-width: 48px;
    min-height: 48px;
    outline: 2px solid white;
    border-radius: 27.5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContainer .headerLink2 .navlink4{
    padding: 0px !important;
    margin: 0px 13px; 
    min-width: 50px;
    min-height: 50px; 
    outline: 2px solid white; 
    border-radius: 27.5px; 
    text-align: center; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.headerContainer ul{
    list-style-type: none;
    margin-left: -60px;
}

.headerContainer .closed{
    display: none;
}

.headerContainer .MonitoredItemDoneOk{
    zoom: 0.75;
}

.headerContainer .MonitoredItemLoading{
    zoom: 0.75;
    margin-right: 8px;
    margin-bottom: 5px;
}

.headerContainer li{
    display: flex;
    align-items: center;
}