.NotifHide {
    display: none !important;
}

.NotifShow {
    display: inline-flex !important;
}

.navbar input {
    background-color: white !important;
    background: transparent url("../../public/images/header/Search.png") no-repeat 5px center;
    /* background-position-y: 10px; */
}

.headerContainer ul{
    display: grid;
    grid-template-columns: 30% 24.3% 24.3% 24.3%;
}

.headerContainer li{
    display: flex;
    align-items: center;
    justify-content: center;
}