.controllerContainer .ScenarioLink{
    text-decoration: none !important;
    color: blue;
}

.controllerContainer .RadioButtonScenario{
    display: inline-block;
    margin: 10px;
}

.controllerContainer .LabelScenario{
    margin-left: 3px;
}

.controllerContainer .hide{
    display: none;
}

.controllerContainer .show{
    display: show;
}

.controllerContainer .PointerElem{
    margin-top: 5px;
}